@{
    ViewData["Title"] = "933 Creatives";
}

@model Bookings;
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>OurSpace</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/css/gallery/creatives/creatives.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/gallery/creatives/creatives.css" rel="stylesheet" />
</head>

<body>
    <main id="main">

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="hero d-flex align-items-center section-bg">
            <div class="container">
                <div class="row justify-content-between gy-5">
                    <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                        <h2 data-aos="fade-up">933 Creatives</h2>
                        <p data-aos="fade-up" data-aos-delay="100">
                            Empowering Students and Freelancers to Thrive in a Dynamic
                            Co-working Environment
                        </p>
                        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                            <a href="#book-a-table" class="btn btn-primary" style="background-color: red; border-color: red;">Book now!</a>
                        </div>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                        <img src="~/css/gallery/creatives/creatives_logo.jpg" class="img-fluid" alt="" data-aos="zoom-out"
                             data-aos-delay="300">
                    </div>
                </div>
            </div>
            </div>
        </section><!-- End Hero Section -->
        <!-- ======= Why Us Section ======= -->
        <section id="stats-counter" class="stats-counter">
            <section id="why-us" class="why-us section-bg">
                <div class="container" data-aos="zoom-out">

                    <div class="row gy-4">

                        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="why-box">
                                <h3>Our Rates!</h3>
                                <p>
                                    <strong>Shared desk</strong><br>
                                    1 hour - P70<br>
                                    2 hours - P120<br>
                                    3 hours - P150<br>
                                    5 hours - ₽200<br>
                                    Whole day rate(9 hours & above) - P350<br><br>

                                    <strong>VIP, Dedicated desk & Drafting</strong><br>
                                    1 hour - P80<br>
                                    2 hours - P140<br>
                                    3 hours - P180<br>
                                    5 hours - P300<br>
                                    Whole day rate(9 hours & above) - P450
                                </p>
                                <div class="text-center">
                                    <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                                </div>
                            </div>
                        </div><!-- End Why Box -->

                        <div class="col-lg-8 d-flex align-items-center">
                            <div class="row gy-4">

                                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                                    <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                        <i class="bi bi-clipboard-data"></i>
                                        <h4>Other Rates</h4>
                                        <p>
                                            <strong>Prepaid (21 hours stay per day</strong><br>
                                            7 days - P2,000 (consumable/valid in 2 weeks)<br><br>
                                            15 days - P3,300 (consumable/valid in 1 month)<br><br>
                                            30 days - P6,000 (consumable/valid in 2 months)<br><br>
                                    </div>
                                </div><!-- End Icon Box -->

                                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                                    <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                        <i class="bi bi-inboxes"></i>
                                        <h4>Group Rates</h4>
                                        <p>
                                            <strong>Film room for 20pax</strong><br>
                                            1 hour - P1,200 (60/person)<br>
                                            3 hours - P2,800 (140/person)<br>
                                            5 hours - P3,800 (190/person)<br>
                                            8 hours - P6,000 (300/person)<br><br>
                                            <strong>Seminar room for 24pax</strong><br>
                                            1 hour - P1440 (60 person)<br>
                                            3 hours - P3,360 (140/person)<br>
                                            5 hours - P4,560 (190/person)<br>
                                            8 hours - P'7,200 (300/person)<br>
                                        </p>
                                    </div>
                                </div><!-- End Icon Box -->

                                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                                    <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                        <i class="bi bi-gem"></i>
                                        <h4>Inclusions</h4>
                                        <p>
                                            Unlimited Wifi Up to 800MBPS<br>
                                            Napping Area<br>
                                            Charging Stations<br>
                                            Unlimited Coffee and Iced Tea<br>
                                            Pet Friendly<br>
                                            Fully Airconditioned
                                        </p>
                                    </div>
                                </div><!-- End Icon Box -->

                            </div>
                        </div>

                    </div>

                </div>
            </section>
        </section><!-- End Why Us Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>gallery</h2>
                    <p>Check <span>Our Gallery</span></p>
                </div>

                <div class="gallery-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide">
                            <a href="~/css/gallery/creatives/gallery-1.jpg">
                                <img src="~/css/gallery/creatives/gallery-1.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery"
                               a href="~/css/gallery/creatives/gallery-2.jpg">
                                <img src="~/css/gallery/creatives/gallery-2.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery"
                               a href="~/css/gallery/creatives/gallery-3.jpg">
                                <img src="~/css/gallery/creatives/gallery-3.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery"
                               a href="~/css/gallery/creatives/gallery-4.jpg">
                                <img src="~/css/gallery/creatives/gallery-4.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery"
                               a href="~/css/gallery/creatives/gallery-5.jpg">
                                <img src="~/css/gallery/creatives/gallery-5.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery"
                               a href="~/css/gallery/creatives/gallery-6.jpg">
                                <img src="~/css/gallery/creatives/gallery-6.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery"
                               a href="~/css/gallery/creatives/gallery-7.jpg">
                                <img src="~/css/gallery/creatives/gallery-7.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery"
                               a href="~/css/gallery/creatives/gallery-8.jpg">
                                <img src="~/css/gallery/creatives/gallery-8.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Gallery Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Location?</h2>
                    <p>We Got You<span>Covered</span></p>
                </div>

                <div class="mb-3">
                    <iframe style="border:0; width: 100%; height: 350px;"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.8460857570713!2d120.98487987578949!3d14.607842276897957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397cb5ff4fbfabd%3A0x4b8a91328c5eec72!2s933%20Creatives!5e0!3m2!1sen!2sph!4v1692683491013!5m2!1sen!2sph"
                            frameborder="0" allowfullscreen></iframe>
                </div><!-- End Google Maps -->

                <div class="row gy-4">

                    <div class="col-md-6">
                        <div class="info-item  d-flex align-items-center">
                            <i class="icon bi bi-map flex-shrink-0"></i>
                            <div>
                                <h3>Our Address</h3>
                                <p>1042 Tolentino St, Sampaloc, Manila, 1008 Metro Manila</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center">
                            <i class="icon bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Us</h3>
                                <p>info@933creatives.com</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item  d-flex align-items-center">
                            <i class="icon bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Us</h3>
                                <p>0927-750-2727</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item  d-flex align-items-center">
                            <i class="icon bi bi-share flex-shrink-0"></i>
                            <div>
                                <h3>Opening Hours</h3>
                                <div>
                                    <strong>Mon-Sun:</strong> 8AM - 5AM
                                </div>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                </div>
            </div>
        </section><!-- End Contact Section -->
        <!-- ======= Book A Table Section ======= -->
        <section id="book-a-table" class="book-a-table">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Book A Table</h2>
                    <p>Book <span>Your Stay</span> With Us</p>
                </div>

                <div class="row g-0">

                    <div class="col-lg-4 reservation-img" style="background-image: url(/reservation.jpg);"
                         data-aos="zoom-out" data-aos-delay="200"></div>
                    <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
                        <form class="php-email-form" data-aos="fade-up" data-aos-delay="100" asp-action="AddBookings" asp-controller="Dashboard" method="post">
                            <div class="row gy-4">
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BName">Full Name</label>
                                    <input asp-for="BName" class="form-control">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BEmail">Email</label>
                                    <input asp-for="BEmail" class="form-control">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BCNum">Contact Number</label>
                                    <input type="number" asp-for="BCNum" class="form-control">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BDate">Date</label>
                                    <input type="date" name="date" class="form-control" id="date" placeholder="Date" asp-for="BDate">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BTime">Time</label>
                                    <input type="time" class="form-control" name="time" id="time" placeholder="Time" asp-for="BTime">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BPNum">Number of Persons</label>
                                    <input asp-for="BPNum" class="form-control">
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label asp-for="BMessage">Message</label>
                                <input asp-for="BMessage" class="form-control">
                            </div>
                            <div class="text-center"><button type="submit">Book a Table</button></div>
                        </form>
                    </div><!-- End Reservation Form -->
                </div>

            </div>
        </section><!-- End Book A Table Section -->
    </main><!-- End #main -->
    <!-- Start Footer -->
    <footer id="footer" class="footer">
        <div class="footer">
            <div class="copyright">
                &copy; Copyright <strong><span>OurSpace</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">Group 3 3ITF</a>
            </div>
        </div>
    </footer>

    <!-- End Footer -->
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>


    <!-- Vendor JS Files -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/site.js"></script>

</body>