@{
    ViewData["Title"] = "Stream Concept";
}
@model Bookings;
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>OurSpace</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/gallery/stream/stream.css" rel="stylesheet" />
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <a asp-action="Index" class="logo d-flex align-items-center me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>OurSpace<span>.</span></h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="hubs" asp-action="Index">Hubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                    </li>
                </ul>
            </nav><!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->
    <main id="main">

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="hero d-flex align-items-center section-bg">
            <div class="">
                <div class="row justify-content-between gy-5">
                    <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                        <h2 data-aos="fade-up">Stream Concept Study Hub</h2>
                        <p data-aos="fade-up" data-aos-delay="100">Stream Concept Study Hub is a cafe themed, budget friendly coworking space.</p>
                        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                            <a href="#book-a-table" class="btn btn-primary" style="background-color: red; border-color: red;">Book now!</a>
                        </div>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                        <img src="~/css/gallery/stream/streamlogo.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
                    </div>
                </div>
            </div>
        </section><!-- End Hero Section -->
        </div>
        <!-- ======= Why Us Section ======= -->
        <section id="stats-counter" class="stats-counter">
            <section id="why-us" class="why-us section-bg">
                <div class="container" data-aos="zoom-out">

                    <div class="row gy-4">

                        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="why-box">
                                <h3>Our Rates!</h3>
                                <p>
                                    1 hour - ₱50<br>
                                    4 hours - ₱150<br>
                                    7+ hours - ₱300<br>
                                </p>
                                <div class="text-center">
                                    <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                                </div>
                            </div>
                        </div><!-- End Why Box -->

                        <div class="col-lg-8 d-flex align-items-center">
                            <div class="row gy-4">

                                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                                    <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                        <i class="bi bi-clipboard-data"></i>
                                        <h4>Basic Inclusions</h4>
                                        <p>
                                            Unli Coffee, Milo, Juice<br>
                                            Unli Chips and snacks<br>
                                            Upto 500mbps wifi<br>
                                            Individual Sockets<br>
                                            Free use of pillows<br>
                                            Use of school suppliers<br>
                                            5 pages printing (b&w only)<br>
                                            Free Parking<br>
                                        </p>
                                    </div>
                                </div><!-- End Icon Box -->

                                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                                    <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                        <i class="bi bi-inboxes"></i>
                                        <h4>Other Services</h4>
                                        <p>
                                            Shower w/ shampoo, towel, soap and towel - P70<br>
                                            P2/page - b&w<br>
                                            P5/page - colored<br>
                                        </p>
                                    </div>
                                </div><!-- End Icon Box -->

                                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                                    <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                        <i class="bi bi-gem"></i>
                                        <h4>We have promos!</h4>
                                        <p>
                                            Check our FB page to see if we have any ongoing promos!
                                        </p>
                                    </div>
                                </div><!-- End Icon Box -->

                            </div>
                        </div>

                    </div>

                </div>
            </section>
        </section><!-- End Why Us Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>gallery</h2>
                    <p>Check <span>Our Gallery</span></p>
                </div>

                <div class="gallery-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery"
                               a href="~/css/gallery/stream/gallery_2.jpg">
                                <img src="~/css/gallery/stream/gallery_2.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery"
                               a href="~/css/gallery/stream/gallery_3.jpg">
                                <img src="~/css/gallery/stream/gallery_3.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="glightbox" data-gallery="images-gallery"
                               a href="~/css/gallery/stream/gallery_4.jpg">
                                <img src="~/css/gallery/stream/gallery_4.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Gallery Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Contact</h2>
                    <p>Need Help? <span>Contact Us</span></p>
                </div>

                <div class="mb-3">
                    <iframe style="border:0; width: 100%; height: 350px;"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.806488811509!2d120.99038271181881!3d14.61009677678292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b7fd4ca19fbf%3A0xdbdb715b37c5f922!2sStream%20Concept%20Study%20Hub!5e0!3m2!1sen!2sph!4v1692714659901!5m2!1sen!2sph"
                            frameborder="0" allowfullscreen></iframe>
                </div><!-- End Google Maps -->

                <div class="row gy-4">

                    <div class="col-md-6">
                        <div class="info-item  d-flex align-items-center">
                            <i class="icon bi bi-map flex-shrink-0"></i>
                            <div>
                                <h3>Our Address</h3>
                                <p>1563 España Blvd., Sampaloc, , Manila, Philippines</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center">
                            <i class="icon bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Us</h3>
                                <p>streamconcept.studyhub@gmail.com</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item  d-flex align-items-center">
                            <i class="icon bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Us</h3>
                                <p>No Number</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item  d-flex align-items-center">
                            <i class="icon bi bi-share flex-shrink-0"></i>
                            <div>
                                <h3>Opening Hours</h3>
                                <div>
                                    <strong>Mon-Sat:</strong> 9AM - 11PM;
                                    <strong>Sunday:</strong> Closed
                                </div>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                </div>
            </div>
        </section><!-- End Contact Section -->
        <!-- ======= Book A Table Section ======= -->
        <section id="book-a-table" class="book-a-table">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2 style="20px">Book A Table</h2>
                    <p>Book <span>Your Stay</span> With Us</p>
                </div>

                <div class="row g-0">

                    <div class="col-lg-4 reservation-img" style="background-image: url(/kape.jpg);"
                         data-aos="zoom-out" data-aos-delay="200"></div>
                    <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
                        <form class="php-email-form" data-aos="fade-up" data-aos-delay="100" asp-action="AddBookings" asp-controller="Dashboard" method="post">
                            <div class="row gy-4">
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BName">Full Name</label>
                                    <input asp-for="BName" class="form-control">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BEmail">Email</label>
                                    <input asp-for="BEmail" class="form-control" />
                                    <span asp-validation-for="BEmail" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BCNum">Contact Number</label>
                                    <input type="number" asp-for="BCNum" class="form-control">
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BDate" class="form-label" for="BDate">Date and Time</label>
                                    <input asp-for="BDate" type="datetime-local" class="form-control form-control-lg" />
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BHub" class="form-label" for="BHub">Choose a hub</label>
                                    <select asp-for="BHub"
                                            asp-items="@(new List<SelectListItem>{
                                            new SelectListItem { Selected = false, Text = "Homeroom Study Lounge", Value = "Homeroom"},
                                            new SelectListItem { Selected = false, Text = "933 Creatives", Value = "creatives"},
                                            new SelectListItem { Selected = false, Text = "Space 1851 CoWorking Hub", Value = "space"},
                                            new SelectListItem { Selected = false, Text = "Plug It - Study Hub", Value = "plugit"},
                                            new SelectListItem { Selected = false, Text = "107 Co-working", Value = "macao"},
                                            new SelectListItem { Selected = false, Text = "Stream Concept", Value = "stream"}})">
                                        <option>Please select one</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label asp-for="BPNum">Number of Persons</label>
                                    <input asp-for="BPNum" class="form-control">
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label asp-for="BMessage">Message</label>
                                <input asp-for="BMessage" class="form-control">
                            </div>
                            <div class="text-center"><button type="submit">Book a Table</button></div>
                        </form>
                    </div><!-- End Reservation Form -->

                </div>

            </div>
        </section><!-- End Book A Table Section -->


    </main><!-- End #main -->
    <!-- Start Footer -->
    <footer id="footer" class="footer">
        <div class="footer">
            <div class="copyright">
                &copy; Copyright <strong><span>OurSpace</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">Group 3 3ITF</a>
            </div>
        </div>
    </footer>

    <!-- End Footer -->
    </div>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

</body>