@using OurSpace.ViewModels;
@model ChangeUserPasswordViewModel;


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>OurSpace</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>

<body>
    <main id="main">
        <section id="hero">
            <div class="sign-up-container">
                <div class="container">
                    <br />
                    <br />
                    <br />
                    <br />
                    <h1 style="font-family:Bahnschrift ; text-align:center">Reset Password</h1>
                    <form asp-action="ChangePassword" asp-controller="Account" method="post">
                        <!-- Admin Code input -->
                        <div class="form-floating mb-4">
                            <input asp-for="AdminCode" class="form-control" placeholder="" />
                            <label asp-for="AdminCode">Admin Code</label>
                            <span asp-validation-for="AdminCode" class="text-danger"></span>

                        </div>
                        <!-- New Password input -->
                        <div class="form-floating mb-4">
                            <input asp-for="NewPassword" class="form-control" placeholder="" />
                            <label asp-for="NewPassword">New Password</label>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <!-- Confitm Password input -->
                        <div class="form-floating mb-4">
                            <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="" />
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        </div>
                        @Html.ValidationMessage("ChangePasswordErrors", new { @class = "text-danger" })

                        <!--Button -->
                        <div class="form-floating mb-4">
                            <button type="submit" class="reset-button">Reset</button>
                        </div>
                    </form>
                </div>
            </div>


        </section><!-- End Stats Counter Section -->
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />




        </div>
        <!-- Start Footer -->
        <footer id="footer" class="footer">
            <div class="footer">
                <div class="copyright">
                    &copy; Copyright <strong><span>OurSpace</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://bootstrapmade.com/">Group 3 3ITF</a>
                </div>
            </div>
        </footer>

        <!-- End Footer -->
        <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>

        <div id="preloader"></div>
        <script src="~/wwwroot/about.jpg"></script>
        <script src="~/vendor/aos/aos.js"></script>
        <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="~/js/site.js"></script>
</body>



